<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @contract.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @contract.price %>
</p>

<p>
  <strong>Farmer:</strong>
  <%= @contract.farmer %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @contract.crop %>
</p>

<p>
  <strong>Client:</strong>
  <%= @contract.client %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
