<canvas id='arb-matrix'></canvas>
<div class="home-container">
  <div class="home-wrap">
    <div class="presents-home">tastyham presents...</div>
    <%= image_tag("mvc.gif") %>
    <div class="title-home">ActiveRecord Baby</div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".sign-up">
      sign up
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".sign-in">
      sign in
    </button>
    <div class="btn btn-primary">visiting</div>
    <div class="subtitle-home">where baby Rails devs hone their db:fu</div>
  </div>
</div>
<div class="modal fade sign-up" tab-index="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h2>Sign up</h2>

      <%= form_for(@user, url: registration_path(@user)) do |f| %>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade sign-in" tab-index="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      "hi"
    </div>
  </div>
</div>

<script type='text/javascript'>
'use strict';
var arbMatrix = document.getElementById('arb-matrix');
var arbMatrixTx = arbMatrix.getContext('2d');

arbMatrix.height = window.innerHeight;
arbMatrix.width = window.innerWidth;

var queries = '.find, .take, .take!, .first, .first!, .last, .last!, .exists?, .any?, .many?, .second, .second!, .third, .third!, .fourth, .fourth!, .fifth, .fifth!, .forty_two, .forty_two!, .first_or_create, .first_or_create!, .first_or_initialize, .find_or_create_by, .find_or_create_by!, .find_or_initialize_by, .find_by, .find_by!, .destroy, .destroy_all, .delete, .delete_all, .update, .update_all, .find_each, .find_in_batches, .select, .group, .order, .except, .reorder, .limit, .offset, .joins, .or, .where, .rewhere, .preload, .eager_load, .includes, .from, .lock, .readonly, .having, .create_with, .uniq, .distinct, .references, .none, .unscope, .count, .average, .minimum, .maximum, .sum, .calculate, .pluck, .ids, .count_by_sql, .find_by_sql';
queries = queries.split(', ');

var font_size = 8;
var columns = arbMatrix.width/(8*6);
var drops = [];
for(var x = 0; x < columns; x++)
  drops[x] = -2*(x % 2);

function draw() {
  arbMatrixTx.fillStyle = 'rgba(0, 0, 0, 0.1)';
  arbMatrixTx.fillRect(0, 0, arbMatrix.width, arbMatrix.height);

  arbMatrixTx.fillStyle = '#33FF33';
  arbMatrixTx.font = font_size + 'px monaco';
  for(var i = 0; i < drops.length; i++) {
    var text = queries[Math.floor(Math.random()*queries.length)];
    arbMatrixTx.fillText(text, i*font_size*6, ((drops[i]+(i % 2))*font_size));
    if(drops[i]*font_size > arbMatrix.height && Math.random() > 0.975) {
      drops[i] = -2*(i % 2);
    }
    drops[i]+=2;
  }
}
setInterval(draw, 40);
</script>

