<canvas id='arb-matrix'></canvas>
<div class="home-container">
  <div class="home-wrap">
    <div class="presents-home">tastyham presents...</div>
    <%= image_tag("mvc.gif") %>
    <div class="title-home">ActiveRecord Baby</div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".sign-up-form">
      sign up
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".sign-in-form">
      sign in
    </button>
    <div class="btn btn-primary">visiting</div>
    <div class="subtitle-home">where baby Rails devs hone their db:fu</div>
  </div>
</div>
<div class="sign-up-form modal fade" tab-index="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content form">
      <%= form_for(@user, url: registration_path(@user)) do |f| %>
        <div class='form-query-wrap'>
          <span class="code code-model">User</span><span class="code code-ar-keyword">.create(</span><!--
       --><%= f.label :name, "name: ", class: "code code-attribute" %><!--
       --><%= f.text_field :name, autofocus: true, autocomplete: "off", size: 10 %><span class="code code-general">,</span>
        </div>
        <div class='form-query-wrap'>
          <%= f.label :email, "email: ", class: "code code-attribute" %><!--
       --><%= f.email_field :email, autocomplete: "off", size: 10 %><span class="code code-general">,</span>
        </div>
        <div class='form-query-wrap'>
          <%= f.label :password, "password: ", class: "code code-attribute" %><!--
       --><%= f.password_field :password, autocomplete: "off", size: 10 %><span class="code code-general">,</span>
        </div>
        <div class='form-query-wrap'>
          <%= f.label :password_confirmation, "password_confirmation: ", class: "code code-attribute" %><!--
       --><%= f.password_field :password_confirmation, autocomplete: "off", size: 10 %><span class="code code-ar-keyword">)</span>
        </div>
        <div class="actions sign-up">
          <%= f.submit "sign up", class:  "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="sign-in-form modal fade" tab-index="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content form">
      <%= form_for(@user, url: session_path(@user)) do |f| %>
        <div class='form-query-wrap'>
          <span class="code code-model">User</span><span class="code code-ar-keyword">.where(</span><!--
       --><span class="code code-general">"</span><!--
       --><%= f.label :name, "name = ", class: "code code-general" %><!--
       --><%= f.text_field :name, autofocus: true, autocomplete: "off", size: 10 %><span class="code code-general">&nbsp;OR&nbsp;&nbsp;</span>
        </div>
        <div class='form-query-wrap'>
          <%= f.label :email, "email = ", class: "code code-general" %><!--
       --><%= f.email_field :email, autocomplete: "off", size: 10 %><span class="code code-general">&nbsp;AND&nbsp;</span>
        </div>
        <div class='form-query-wrap'>
          <%= f.label :password, "password = ", class: "code code-general" %><!--
       --><%= f.password_field :password, autocomplete: "off", size: 10 %><!--
       --><span class="code code-general">"</span><!--
       --><span class="code code-ar-keyword">)&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="actions sign-in">
          <%= f.submit "sign in", class:  "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type='text/javascript'>
'use strict';
var arbMatrix = document.getElementById('arb-matrix');
var arbMatrixTx = arbMatrix.getContext('2d');

arbMatrix.height = window.innerHeight;
arbMatrix.width = window.innerWidth;

var queries = '.find, .take, .take!, .first, .first!, .last, .last!, .exists?, .any?, .many?, .second, .second!, .third, .third!, .fourth, .fourth!, .fifth, .fifth!, .forty_two, .forty_two!, .first_or_create, .first_or_create!, .first_or_initialize, .find_or_create_by, .find_or_create_by!, .find_or_initialize_by, .find_by, .find_by!, .destroy, .destroy_all, .delete, .delete_all, .update, .update_all, .find_each, .find_in_batches, .select, .group, .order, .except, .reorder, .limit, .offset, .joins, .or, .where, .rewhere, .preload, .eager_load, .includes, .from, .lock, .readonly, .having, .create_with, .uniq, .distinct, .references, .none, .unscope, .count, .average, .minimum, .maximum, .sum, .calculate, .pluck, .ids, .count_by_sql, .find_by_sql';
queries = queries.split(', ');

var font_size = 8;
var columns = arbMatrix.width/(8*6);
var drops = [];
for(var x = 0; x < columns; x++)
  drops[x] = -2*(x % 2);

function draw() {
  arbMatrixTx.fillStyle = 'rgba(0, 0, 0, 0.1)';
  arbMatrixTx.fillRect(0, 0, arbMatrix.width, arbMatrix.height);

  arbMatrixTx.fillStyle = '#33FF33';
  arbMatrixTx.font = font_size + 'px monaco';
  for(var i = 0; i < drops.length; i++) {
    var text = queries[Math.floor(Math.random()*queries.length)];
    arbMatrixTx.fillText(text, i*font_size*6, ((drops[i]+(i % 2))*font_size));
    if(drops[i]*font_size > arbMatrix.height && Math.random() > 0.975) {
      drops[i] = -2*(i % 2);
    }
    drops[i]+=2;
  }
}
setInterval(draw, 40);
</script>

