<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crop.name %>
</p>

<p>
  <strong>Yield:</strong>
  <%= @crop.yield %>
</p>

<%= link_to 'Edit', edit_crop_path(@crop) %> |
<%= link_to 'Back', crops_path %>
