<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @environment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @environment.description %>
</p>

<p>
  <strong>Models:</strong>
  <%= @environment.models %>
</p>

<%= link_to 'Edit', edit_environment_path(@environment) %> |
<%= link_to 'Back', environments_path %>
