<p id="notice"><%= notice %></p>

<p>
  <strong>Solution:</strong>
  <%= @solved_problem.solution %>
</p>

<p>
  <strong>Sol char count:</strong>
  <%= @solved_problem.sol_char_count %>
</p>

<p>
  <strong>Time exec total:</strong>
  <%= @solved_problem.time_exec_total %>
</p>

<p>
  <strong>Time query total:</strong>
  <%= @solved_problem.time_query_total %>
</p>

<p>
  <strong>Time query min:</strong>
  <%= @solved_problem.time_query_min %>
</p>

<p>
  <strong>Time query max:</strong>
  <%= @solved_problem.time_query_max %>
</p>

<p>
  <strong>Time query avg:</strong>
  <%= @solved_problem.time_query_avg %>
</p>

<p>
  <strong>Num queries:</strong>
  <%= @solved_problem.num_queries %>
</p>

<p>
  <strong>User:</strong>
  <%= @solved_problem.user %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @solved_problem.problem %>
</p>

<%= link_to 'Edit', edit_solved_problem_path(@solved_problem) %> |
<%= link_to 'Back', solved_problems_path %>
